// Resets:

*,
*::before,
*::after {
  box-sizing: inherit;
  /* Set the box-sizing on <body>, than use 'inherit' on the Resets */
  /* This is considered a better practice, because it make it easier to change the 'box-sizing' properties in plugins and web components */
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // makes font-size: 10px;
}

body {
  padding: 3rem;
  /* Set the box-sizing on <body>, than use 'inherit' on the Resets */
  box-sizing: border-box;
  /* This is considered a better practice, because it make it easier to change the 'box-sizing' properties in plugins and web components */
}