.uc__text-align--center {
  text-align: center;
}

.uc__margin-bottom--small {
  margin-bottom: $margin-small;
}

.uc__margin-bottom--medium {
  margin-bottom: $margin-medium;
}

.uc__margin-bottom--large {
  margin-bottom: $margin-large;
}

.uc__margin-top--extra-large {
  margin-top: $margin-extra-large;
}