// Colors:
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #b3b3b3;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-white: #fff;
$color-black: #1b1a1a;
$color-transparent: transparent;

// Grid:
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Margins:

// TODO I should refactor this as breathing space, so I can use it in margins and paddings consistently. Variables:'$breathing-small', etc.

$margin-small: 1.5rem;
$margin-medium: 3rem;
$margin-large: 8rem;
$margin-extra-large: 12rem;

// Fonts:
$default-font-size: 1.6rem;


// Layers

// TODO create 'z-index' variables for LAYERS in the page