@mixin margin-center {
  // Centers block content using the margin hack
  margin-left: auto;
  margin-right: auto;
}

@mixin position-center {
  // Centers block content using position
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// TODO create box-shadow variants