// Color Palette

$color-white: #fff;
$color-black: #1b1a1a;
$color-transparent: transparent;

$color-gray-light-1: #f2f7f0;
$color-gray-light-2: #ebeee6;
$color-gray-light-3: #b0b4ae;

$color-gray-dark-1: #959793;
$color-gray-dark-2: #70756f;
$color-gray-dark-3: #313330;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Typography variables

$font-size-default: 1.6rem;
$font-size-tiny: 1rem;
$font-size-small: 1.3rem;
$font-size-medium: 2rem;
$font-size-large: 3.5rem;
$font-size-huge: 6rem;

$font-family-secondary: 'Open Sans',
sans-serif;

// Breathing spaces

$breathing-small: 1.5rem;
$breathing-medium: 3rem;
$breathing-large: 8rem;
$breathing-huge: 12rem;

// Border radius

$radius-subtle: .4rem;