.row {
  // the 1140px Grid was created by Australian designer Andy Taylor. The 1140 grid fits perfectly into a 1280 monitor. On smaller monitors it becomes fluid and adapts to the width of the browser.
  // https://www.ramotion.com/agency/web-design/cssgrid/

  max-width: $grid-width;
  @include center-block;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  // @mixin calcColumnWidth ($guttersInRow, $numOfColumns, $colSpan)
  .col-1-of-2 {
    @include calcColumnWidth(1, 2, 1);
  }

  .col-1-of-3 {
    @include calcColumnWidth(2, 3, 1);
  }

  .col-2-of-3 {
    @include calcColumnWidth(2, 3, 2);
  }

  .col-1-of-4 {
    @include calcColumnWidth(3, 4, 1);
  }

  .col-2-of-4 {
    @include calcColumnWidth(3, 4, 2);
  }

  .col-3-of-4 {
    @include calcColumnWidth(3, 4, 3);
  }
}