$color-primary: #A5BE00; // Limerick
$color-primary-dark: #679436; // Maximum Green

$color-secondary-light: #427AA1; // Queen Blue
$color-secondary-dark: #05668D; // Sea Blue

$white-soft: #EBF2FA // Anti-flash whit.e