// TODO create important text

.uc__text-align--center {
  text-align: center;
}

.uc__margin-bottom--small {
  margin-bottom: $breathing-small;
}

.uc__margin-bottom--medium {
  margin-bottom: $breathing-medium;
}

.uc__margin-bottom--large {
  margin-bottom: $breathing-large;
}

.uc__margin-bottom--huge {
  margin-bottom: $breathing-huge;
}

.uc__margin-top--small {
  margin-top: $breathing-small;
}

.uc__margin-top--medium {
  margin-top: $breathing-medium;
}

.uc__margin-top--large {
  margin-top: $breathing-large;
}

.uc__margin-top--huge {
  margin-top: $breathing-huge;
}