.btn-inline {
  border: none;
  background-color: transparent;
  color: var(--color-grey-dark-1);
  font-size: inherit;
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.2rem;
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;

  &:hover {
    color: var(--color-primary);
  }

  &:focus {
    outline: none;
    animation-name: pulsar;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
  }
}

@keyframes pulsar {
  0% {
    color: var(--color-primary-light);
  }

  50% {
    color: var(--color-primary-dark);
  }
}
