*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #959793; }

.uc__text-important {
  font-weight: 700;
  text-transform: uppercase; }

.uc__text-align--center {
  text-align: center; }

.uc__margin-bottom--small {
  margin-bottom: 1.5rem; }

.uc__margin-bottom--medium {
  margin-bottom: 3rem; }

.uc__margin-bottom--large {
  margin-bottom: 8rem; }

.uc__margin-bottom--huge {
  margin-bottom: 12rem; }

.uc__margin-top--small {
  margin-top: 1.5rem; }

.uc__margin-top--medium {
  margin-top: 3rem; }

.uc__margin-top--large {
  margin-top: 8rem; }

.uc__margin-top--huge {
  margin-top: 12rem; }

.row {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^='col-'] {
    background-color: orangered;
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(100% - ((100% - 2 * 6rem) / 3) - 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc(100% - ((100% - 3 * 6rem) / 4) - 6rem); }
